@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');

:root {
	/* - Family: [Nunito Sans](https://fonts.google.com/specimen/Nunito+Sans) */
	--ff: "Nunito Sans", sans-serif;
	--HomepageItems: 14px;
	--DetailPage: 16px;

	--fw-sm: 300;
	--fw-md: 600;
	--fw-bold: 800;

	--DarkBlue-DarkModeElements: hsl(209, 23%, 22%);
	--VeryDarkBlue-DarkModeBackground: hsl(207, 26%, 17%);
	--VeryDarkBlue-LightModeText: hsl(200, 15%, 8%);
	--DarkGray-LightModeInput: hsl(0, 0%, 52%);
	--VeryLightGray-LightModeBackground: hsl(0, 0%, 98%);
	--White-DarkModeText-LightModeElements: hsl(0, 0%, 100%);

	box-sizing: border-box;
}
*,
*::before,
*::after {
	box-sizing: inherit;
	margin: 0;
	padding: 0;
}
a { 
	color: inherit;
	text-decoration: none;
	transform: translateZ(20px);
	/* transform: perspective(1000px);
	transform-style: preserve-3d; */
}
button {
	background-color: transparent;
	border: 0;
	color: inherit;
	cursor: pointer;
	border-radius: 5px;
}
img {
	max-width: 100%;
	height: auto;
}
ul {
	list-style: none;
}
#app {
	max-width: 1440px;
	margin: 0 auto;
	font-family: var(--ff);
	display: grid;
	grid-template-rows: 5em minmax(calc(100vh - 5em), auto);
}

/*! ---- -- -- -- -  ---  --  - -- -- -- -  ---  --  -  */
/** ---- -- -- -- -  ---  --  - -- -- -- -  ---  --  -  */
/*? ---- -- -- -- -  ---  --  - -- -- -- -  ---  --  -  */
/*? ---- -- -- -- -  ---  --  - -- -- -- -  ---  --  -  */
/*? ---- -- -- -- -  ---  --  - -- -- -- -  ---  --  -  */
nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 1em;
	gap: 0.5em;
	flex-wrap: wrap;
}
/* el__dark */
.nav__dark {
	background-color: var(--DarkBlue-DarkModeElements);
	color: var(--White-DarkModeText-LightModeElements);
}
.nav__light {
	background-color: var(--VeryLightGray-LightModeBackground);
	background-color: var(--White-DarkModeText-LightModeElements);

	color: var(--VeryDarkBlue-LightModeText);
}

/* section__dark or container__dark */
.main__dark {
	background-color: var(--VeryDarkBlue-DarkModeBackground);
	color: var(--White-DarkModeText-LightModeElements);
}
.main__light {
	background-color: var(--VeryLightGray-LightModeBackground);
	color: var(--VeryDarkBlue-LightModeText);
}
.btn {
	display: flex;
	align-items: center;
	gap: 0.5em;	
}

form {
	max-width: 450px;
	width: 100%;
}

input {
	background-color: inherit;
	padding: 1em 1em 1em 2.8em;
	border: 0;
	border-radius: 5px;
	font-size: 1rem;
	width: 100%;
}
input::placeholder {
	color: inherit;
}
.el__dark {
	background-color: var(--DarkBlue-DarkModeElements);
	color: var(--White-DarkModeText-LightModeElements);
}
.input__dark {
	color: var(--White-DarkModeText-LightModeElements);
}
.input__light {
	background-color: var(--White-DarkModeText-LightModeElements);
	color: var(--DarkGray-LightModeInput);
}
.el__light {
	background-color: var(--White-DarkModeText-LightModeElements);
	color: var(--DarkGray-LightModeInput);
}
/*! ---- -- -- -- -  ---  --  - -- -- -- -  ---  --  -  */
/** ---- -- -- -- -  ---  --  - -- -- -- -  ---  --  -  */
/*? ---- -- -- -- -  ---  --  - -- -- -- -  ---  --  -  */
/*? ---- -- -- -- -  ---  --  - -- -- -- -  ---  --  -  */
/*? ---- -- -- -- -  ---  --  - -- -- -- -  ---  --  -  */

main {
	padding: 2.5em 1em;
}

/* search input and filter by region wrapper */
.search__wrapper {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	gap: 1em;
	flex-wrap: wrap;
}
form {
	position: relative;
}
.fa-magnifying-glass {
	position: absolute;
	top: 31%;
	left: 15px;
	font-size: 1.2rem;
}

.filter__dropdown {
	width: 170px;
	position: relative;
}
.btn__filter {
	padding: 1.3em 1.5em;
	width: inherit;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.fa-angle-down {
	transition: all 0.3s linear;
}
.animateAngleIcon {
	transform: rotate(-180deg);
}
.options {
	margin-top: 0.2em;
	border-radius: 5px;
	padding: 1em 1em;
	position: absolute;
	width: 100%;
	z-index: 99;
}
.options__item {
	cursor: pointer;
	transition: all 0.3s linear;
}
.options__item:hover {
	letter-spacing: 1px;
	transform: translateY(-1px);
}
.options__item + .options__item {
	margin-top: 0.5em;
}

/*! ---- -- -- -- -  ---  --  - -- -- -- -  ---  --  -  */
/** ---- -- -- -- -  ---  --  - -- -- -- -  ---  --  -  */
/*? ---- -- -- -- -  ---  --  - -- -- -- -  ---  --  -  */
/*? ---- -- -- -- -  ---  --  - -- -- -- -  ---  --  -  */
/*? ---- -- -- -- -  ---  --  - -- -- -- -  ---  --  -  */
/*? ---- -- -- -- -  ---  --  - -- -- -- -  ---  --  -  */
/*? ---- -- -- -- -  ---  --  - -- -- -- -  ---  --  -  */

.countries__wrapper {
	margin-top: 2em;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(200px, 270px));
	grid-gap: 3em;
	justify-content: center;
}
.card {
	border-radius: 10px;
	overflow: hidden;
	font-size: 14px;
	line-height: 1.7;
	transform: perspective(3500px);
	transform-style: preserve-3d;
}
.flag {
	height: 180px;
	width: 100%;
}
.flag img {
	width: inherit;
	height: inherit;
	object-fit: cover;
}
.card__contents {
	padding: 1em 1.5em 2.2em;
}
.card__title {
	margin-bottom: 0.7em;
}
.card__content--result {
	color: var(--DarkGray-LightModeInput);
}
.btn--Btn {
	justify-content: center;
  
  padding: .7em 2em;
  border-radius: 5px;
	font-size: .85rem;
} 
.btn--back:hover .fa-arrow-left {
	animation: move-left 1s linear infinite;
}
@keyframes move-left {
	from {
		transform: scale(1) translateX(0);
	}
	to {
		transform: scale(1.2) translateX(-5px);
	}
}
.loadingData {
	display: flex;
	align-items: center;
	justify-content: center;
}

/** ===============================================*/
/** ===============================================*/
/*? ------------- Details page --------------------*/
/** ===============================================*/
/** ===============================================*/

.countryDetails {
	margin: 2.5em 0;
}
.countryDetails--flag {
	height: 17em;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
.countryDetails--flag img {
	width: inherit;
	height: inherit;
	object-position: center;
}
.contents__list  {
	margin-bottom: 2em;
}
.countryDetails__contents {
	margin-top: 2em;
}
.country__borders--lists {
	display: flex;
	align-items: center;
	gap: .5em;
	flex-wrap: wrap;
	margin: 1em 0;
}
.lang {
	display: flex;
	gap: .5em;
}
.border--btn {
	padding: .4em 2em;
	font-size: .75rem;
}
/*! ---- -- -- -  ---  --  - -- -- -- -  ---  --  -  */
/*! ---- -- -- -  ---  --  - -- -- -- -  ---  --  -  */
/** =======> ~> ==========><=========~ ~============>*/
/*? -------------> Media Queries <-----------------*/
/** |==~>====| ~~>|=====| <~~ >========<~~>========|*/
/*? ---- -- -- ~~ -  ~~~  - ~~ -- ~~ -- ~  --  --   */
/*? ---- -- -- ~~ -  ~~~  - ~~ -- ~~ -- ~  --  --   */

@media (min-width: 600px) {
	nav,
	main {
		padding-inline: 2em;
	}
}
@media (min-width: 800px) {
	nav,
	main {
		padding-inline: 3em;
	}
}
@media (min-width: 992px) {
	.countries__wrapper {
		grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
		justify-content: space-between;
	}
	.countryDetails {
		display: flex;
		justify-content: space-between;
		gap: 2em;
	}
	.countryDetails__contents {
		align-self: center;
		margin: 0;
	}
	.details {
		display: flex;
		justify-content: space-between;
		gap: 1em;
	}
	.country__borders {
		display: flex;
		align-items: center;
		justify-content: flex-start;
		gap: 1em;
	}
}
@media (min-width: 1200px)  {
	.countryDetails--flag {
		height: 20em;
	}
	nav,
	main {
		padding-inline: 4em;
	}
}
@media (min-width: 1300px)  {
	.countryDetails--flag {
		height: 23em;
	}
	nav,
	main {
		padding-inline: 4em;
	}
}

.fade-enter-from, .fade-enter-to {
	opacity: 0;
	transform: translateY(-1-px);
}
.fade-enter-active, .fade-leave-active {
	transition: all .3s linear;
}